.App {
  text-align: center;
}

.App .time {
  font-size: 500%;
}

.RubySpan ruby {
  -webkit-ruby-position: after;
  ruby-position: under;
}

.RubySpan ruby:hover:not(.no-text),
.RubySpan ruby:hover rt {
  border-radius: 5px;
  background-color: #eee;
}

.RubySpan rt {
  padding: 10px 0;
  color: #999;
  font-size: 20%;
}
