.App {
  text-align: center;
}

.App .time {
  font-size: 500%;
}

.RubySpan ruby {
  -webkit-ruby-position: after;
  ruby-position: under;
}

.RubySpan:not(.hover) ruby:hover:not(.no-text),
.RubySpan:not(.hover) ruby:hover rt {
  border-radius: 5px;
  background-color: #eee;
}

.RubySpan rt {
  padding: 10px 0;
  color: #999;
  font-size: 20%;
}

.RubySpan.hover:not(:hover) rt {
  visibility: hidden;
}
